/* Global */
:root {
    --dark: #21243D;
    --font--size: 20px;
    --orange: #FF6464;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark);
    font-size: var(--font--size);
    font-family: 'Heebo', sans-serif;
}
.container {
    padding: 2rem 5%;
}
img {
    width: 100%;
    height: 95%;
    object-fit: cover;
}
button {
    background-color: var(--orange);
    color: #fff;
    padding: .5rem 1rem;
    border: none;
}
/* End Global */

/* Header */
header {
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffff;
    z-index: 1;
}
.nav__menu {
    display: flex;
    flex-direction: row;
    height: fit-content;
    background-color: #fff;
}
.nav__item {
    list-style-type: none;
    font-weight: 600;
    padding: 0 3rem 0 0;
}
.nav__link {
    text-decoration: none;
    color: var(--dark);
}
.nav__link--active {
    color: var(--orange);
}
.nav__icon {
    position: absolute;
    right: 20px;
    top: 10px;
    display: none;
}
.dash {
    transition: 0.3s ease;
    border-top: 1.6px solid var(--dark);
    width: 30px;
    height: 10px;
}

/* Body */
.prof_img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}
.content>* {
    margin-bottom: 1.5rem;
}
.section--highlighted {
    background-color: #EDF7FA;
}
.content--shadow {
    padding: 1.5rem;
    box-shadow: #8695a421 0 0 15px;
    height: 100%;
}
.btn--dark {
    background-color: var(--dark);
    border-radius: 20px;
    padding: 0 10px;
}
.btn--orange {
    border-radius: 20px;
    padding: 0 10px;
    height: fit-content;
    width: fit-content;
}
.underline {
    margin-bottom: 1rem;
    border-bottom: #E0E0E0 1px solid;
}

/* Responsive */
@media (max-width: 739px) {
    :root {
        --font--size: 16px;
    }
    /* Header */
    .nav__icon {
        display: block;
    }
    .nav__menu {
        position: fixed;
        top: 50px;
        right: -120%;
        width: 100%;
        flex-direction: column;
        padding-left: 30%;
        transition: 0.3s ease-in;
        height: 100vh;
    }
    .nav__menu.active {
        right: 0;
    }
    .nav__icon.active .dash:nth-child(2) {
        display: none;
    }
    .nav__icon.active .dash:nth-child(1) {
        transform: translateY(10px) translateX(-5px) rotate(45deg);
    }
    .nav__icon.active .dash:nth-child(3) {
        transform: rotate(-45deg);
    }
}