/* Global */
:root {
    --main-color: #718be1;
    --font-size: 13px;
    --scale: 1;
}
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #444b59;
    line-height: calc(var(--font-size) * calc(var(--scale) + 1));
    font-size: calc(var(--font-size) * var(--scale));
    font-family: 'Nunito', sans-serif;
}
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 90%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.space-around {
    display: flex;
    justify-content: space-around;
}
.align-center {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* End Global */

/* Header */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.navbar>a {
    padding: 40px calc(var(--font-size) * var(--scale)* var(--scale)) 20px;
}
.navbar>a:hover, a>i:hover {
    color: var(--main-color);
}
/* End Header */

/* Form */
h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.link-text {
    color: var(--main-color);
    font-weight: 600;
}
.form__line, .btn, .text--liner {
    padding-top: 20px;
    padding-bottom: 20px;
}
.form__line--label {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
input, .btn, .form--img {
    width: 100%;
    padding: 10px 20px;
    border: var(--main-color) 2px solid;
    border-radius: 50px;
    margin-top: 15px;
}
input::placeholder {
    color: var(--main-color);
}
input[type="radio"] {
    width: 30px;
    height: 30px;
    margin-top: 0;
    margin-right: 10px;
    accent-color: var(--main-color);
}
.form__line--text {
    font-size: .9rem;
}
.btn {
    background-color: var(--main-color);
    color: white;
}
.btn:hover, .form--img:hover, .link-text:hover, input::placeholder {
    opacity: 0.7;
}
.text--liner {
    display: flex;
    flex-direction: row;
}
.text--liner:before, .text--liner:after{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid var(--main-color);
    margin: auto 5px;
}
.form--img {
    object-fit: cover;
    max-width: 80px;
    border-radius: 10px;
}
/* End Form */

/* Responsive */
@media (min-width: 740px) {
    :root {
        --scale: 1.2;
    }
}
@media (min-width: 1024px) {
    .col-lg-5 {
        flex: 0 0 41.6666%;
        max-width: 41.6666%;
    }
    .col-lg-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    :root {
        --scale: 1.5;
    }
}

